#slide-right #stats-container .stats-section .data-container .building-container
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 1vw;
    width: 80%;
    flex-shrink: 0;
}

#slide-right #stats-container .stats-section .data-container .building-container .building-module .icon-value-container
{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0.5vw;
}

#slide-right #stats-container .stats-section .data-container .production-container,
#slide-right #stats-container .stats-section .data-container .consumption-container,
#slide-right #stats-container .stats-section .data-container .employment-container,
#slide-right #stats-container .stats-section .data-container .housing-container,
#slide-right #stats-container .stats-section .data-container .efficiency-container,
#slide-right #stats-container .stats-section .data-container .happiness-container,
#slide-right #stats-container .stats-section .data-container .needs-container
{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 1vw;
    border: 5px solid #fff;
    border-radius: 10px;
}

#slide-right #stats-container .stats-section .data-container .production-container>p,
#slide-right #stats-container .stats-section .data-container .consumption-container>p,
#slide-right #stats-container .stats-section .data-container .employment-container>p,
#slide-right #stats-container .stats-section .data-container .housing-container>p,
#slide-right #stats-container .stats-section .data-container .efficiency-container>p,
#slide-right #stats-container .stats-section .data-container .happiness-container>p,
#slide-right #stats-container .stats-section .data-container .needs-container>p
{
    width: 100%;
    border-bottom: 2px solid #fff;
    padding: 1vw 3vw;
    text-align: center;
}

#slide-right #stats-container .stats-section .data-container [class$="-container"] [class$="-module"]

{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0.5vw;
    gap: 5vw;
    padding: 1vw 2vw;
    width: 50vw;

}

#slide-right #stats-container .stats-section .data-container [class$="-container"] .icon-value-container

{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2.5vw;
}