@media (min-width: 746px) {
    #slide-left .container .menu-slot
    {
        bottom: 50%;
        width: auto;
        left: 3vw;
        transform: translateY(50%);
    }
}

@media (min-width: 1024px) {
    #slide-left .container .menu-slot .menu-03
    {
        width: 30vw;
        left: 1vw;
        flex-wrap: wrap;
        flex-direction: row;
    }
}
