#slide-right #happiness-indicator {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  pointer-events: none;
  color: #fff;
  text-transform: lowercase;
  z-index: 210;
}

#slide-right #happiness-indicator .happiness-label, 
#slide-right #happiness-indicator .happiness-value
{
  font-family: "Smooch Sans", sans-serif;
  font-size: 6vw;
  line-height: 1;
}

#slide-right #happiness-indicator .happiness-value {
  color: #ffd700;
}
