
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Smooch+Sans:wght@100..900&family=WindSong:wght@400;500&display=swap');
@import url("./rest.css");
@import url("./themes/default.css");
@import url("./models/apartaments.css");
@import url("./models/energy.css");
@import url("./models/factory.css");
@import url("./models/farm.css");
@import url("./models/fire.css");
@import url("./models/ground.css");
@import url("./models/house.css");
@import url("./models/mall.css");
@import url("./models/park.css");
@import url("./models/police.css");
@import url("./models/store.css");
@import url("./models/water.css");
@import url("./models/way.css");
@import url("./components/Map.css");
@import url("./components/SlideLeft.css");
@import url("./components/SlideRight.css");
@import url("./components/TurnControlPanel.css");
@import url("./devMode.css");
@import url("./toast.css");

.main-container{
    width: 100vw;
    max-height: 100vh;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    background: hsl(209, 67%, 8%) ;
}

.smooch-sans-400 {
  font-family: "Smooch Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


