.map {
    display: flex;
    align-items: center;
    height: calc((var(--size) - 1) * (var(--width-ground)* .52));
    width: calc((var(--size) - 1) * var(--width-ground));
    position: relative;
    overflow: visible;
    flex-shrink: 0;
}

.map-container {
    position: absolute;
    top: calc((var(--size) - 1) * (var(--width-ground) / 4));
    left: var(--width-ground);
}

.map-item {
    display: flex;
    height: calc( var(--height-ground)*.6);
    position: absolute;
    top: calc((var(--i) - var(--j)) * (var(--width-ground) / 4));
    right: calc((var(--i) + var(--j)) * (var(--width-ground) / 2) * -1);
    z-index: calc(3000 - (var(--j) * 100));
    align-items: flex-end;
}

.building {
    height: var(--height-ground);
    width: var(--width-ground);
    pointer-events: none;
    display: block;
}

.building svg {
    width: 100%;
    height: 100%;
    display: block;
    shape-rendering: geometricPrecision;
    text-rendering: geometricPrecision;
}

.map-item.selected {
    outline: 2px solid #00ff00;
    z-index: 3001;
}