.g {
    background-image: url(../../../../public/themes/default/ground_land.png);
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
    height: var(--height-ground);
    width: var(--width-ground);
    pointer-events: none;
}

.r {
    background-image: url(../../../../public/themes/default/way_land.png);
}

.R1 {
    background-image: url(../../../../public/themes/default/house_land.png);
}

.R2 {
    background-image: url(../../../../public/themes/default/apartaments_land.png);
}

.C1 {
    background-image: url(../../../../public/themes/default/store_land.png);
}

.C2 {
    background-image: url(../../../../public/themes/default/mall_land.png);
}

.I1 {
    background-image: url(../../../../public/themes/default/factory_land.png);
}

.I2 {
    background-image: url(../../../../public/themes/default/farm_land.png);
}

.S1 {
    background-image: url(../../../../public/themes/default/police_station_land.png);
}

.S2 {
    background-image: url(../../../../public/themes/default/fire_station_land.png);
}

.S3 {
    background-image: url(../../../../public/themes/default/hospital_land.png);
}

.U1 {
    background-image: url(../../../../public/themes/default/energy_land.png);
}

.U2 {
    background-image: url(../../../../public/themes/default/water_land.png);
}

.P1 {
    background-image: url(../../../../public/themes/default/park_land.png);
}