#slide-right .buttons-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    pointer-events: none;
}

#slide-right .buttons-container .button
{
    position: absolute;
    margin: 2.5vw;
    width: 20vw;
    height: 20vw;
    min-width: 44px;
    min-height: 44px;
    z-index: 200;
    pointer-events: auto;

}

#slide-right .buttons-container .button svg 
{
    width: 100%;
    height: 100%;
    display: block;
}

#slide-right .buttons-container .button path
{
    fill: #fff;
}


#slide-right .buttons-container #stats 
{
    bottom: 0;
    right: 25vw;
}

#slide-right .buttons-container #stats path
{
    fill: none;
    stroke: #fff;
}

#slide-right .buttons-container #weather 
{
    top: 0;
    right: 0;
}

#slide-right .buttons-container #news 
{
    bottom: 0;
    right: 0;
}

#slide-right #stats-container
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: blue;
    width: 80vw;
    height: 75vh;
    z-index: 250;
    color: #fff;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

/* #slide-right #stats-container.active
{
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
} */

@media (min-width: 746px) {
    #slide-right .buttons-container #stats
    {
        right: 12vw;
    }
    #slide-right .buttons-container .button
    {
        width: 7vw;
        height: 7vw;
    }
}

