@keyframes pulse {
  0%, 100% { transform: scale(1); }
  50% { transform: scale(1.05); }
}



@keyframes route-highlight-fade {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}