@media (min-width: 746px) {
    #slide-left>.container .resources>.resource
    {
        display: none;
    }

    #slide-left .container .resources ul
    {
        flex-direction: row;
        width: 70vw;
        left: 10vw;
        top:  4vw;
    }

    #slide-left .container .resources ul .resource  
    {
        width: 25%;
        gap: 1vw;
    }

    #slide-left .container .resources ul .resource  .img-container
    {
        flex-shrink: 0;
        width: 4vw;
        height: 4vw;
    }

    #slide-left .container .resources ul .resource .content
    {
        transform: translateY(0);
        font-size: 3vw;
        opacity: 1;
        width: auto;
    }

    #slide-left .container .resources ul .resource.has-tooltip::after
    {
        max-width: 260px;
        left: 0;
        font-size: 0.8rem;
    }
}

@media (min-width: 1024px) {
    #slide-left .container .resources ul
    {
        width: 40vw;
        gap: 5vw;
        left: 15vw;
        top:  2vw;
    }

    #slide-left .container .resources ul .resource  .img-container
    {
        flex-shrink: 0;
        width: 3vw;
        height: 3vw;
    }

    #slide-left .container .resources ul .resource .content
    {
        font-size: 2vw;
    }
<<<<<<< HEAD
}

@media (max-width: 745px) {
    #slide-left .container .resources > .resource
    {
        border-radius: 1vw;
        display: flex;
        align-items: center;
        justify-content: center;
        pointer-events: auto;
    }

    #slide-left .container .resources > .resource .img-container
    {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 1vw;
        border: #fff 4px solid;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #slide-left .container .resources > .resource .img-container svg
    {
        width: 70%;
        height: 70%;
        display: block;
=======

    #slide-left .container .resources ul .resource.has-tooltip::after
    {
        max-width: 300px;
        font-size: 0.9rem;
    }
}

@media (max-width: 745px) {
    #slide-left .container .resources ul .resource.has-tooltip::after
    {
        width: min(74vw, 260px);
        max-width: none;
        left: 0;
        font-size: 0.78rem;
>>>>>>> d5557f820c5b997a7df3cf3dfc1204115088291b
    }
}