@media (min-width: 746px) {
    #slide-left .container .container-buttons .button .utility-meta
    {
        font-size: 0.6rem;
        bottom: 24px;
    }



    #slide-left .container .container-buttons .button
    {
        width: 7vw;
        height: 7vw;
        border-radius: 7.5vw;
        transform: rotateZ(90deg);
    }

     #slide-left .container .container-buttons.menu-03 .button
    {
        transform: rotateZ(0deg);
    }
}

@media (min-width: 1024px) {
    #slide-left .container .container-buttons .button .utility-meta
    {
        font-size: 0.58rem;
    }
}
