/* eslint-disable css/use-baseline */


#slide-right .buttons-container #stats 
{
    bottom: 0;
    right: 25vw;
}

#slide-right .buttons-container #stats path
{
    fill: none;
    stroke: #fff;
}


#slide-right #stats-container
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(100, 100, 100, 0.432);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    width: 70vw;
    height: 75vh;
    z-index: 250;
    color: #fff;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
    overflow: auto;
}

#slide-right #stats-container::-webkit-scrollbar {
    width: 0.5vw;
}

#slide-right #stats-container .stats-title
{
    font-family: "Smooch Sans", sans-serif;
    font-size: 1.7rem;
    text-align: center;
    margin: 1vw 0;
}

#slide-right #stats-container .stats-section
{
    display: flex;
    flex-direction: column;
    font-family: "Smooch Sans", sans-serif;
    font-size: 1.5rem;
}

#slide-right #stats-container .stats-section .building
{
    width: 100%;
    height: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#slide-right #stats-container .stats-section .building .img-container
{
    width: 40vw;
    height: 40vw;
}

#slide-right #stats-container .stats-section .data-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3vw;
}
