/* eslint-disable css/no-invalid-properties */

.S3 svg .ground-top {
    fill: var(--ground-top);
}

.S3 svg .ground-right {
    fill: var(--ground-right);
}

.S3 svg .ground-left {
    fill: var(--ground-left);
}

.S3 svg .building-top {
    fill: var(--base-top);
}

.S3 svg .building-left {
    fill: var(--base-left);
}

.S3 svg .building-right {
    fill: var(--base-right);
}

.S3 svg .window-background {
    fill: var(--window-background);
}

.S3 svg .window-frame-left {
    fill: var(--window-frame-left);
}

.S3 svg .window-frame-top {
    fill: var(--window-frame-top);
}

.S3 svg .window-frame-right {
    fill: var(--window-frame-right);
}

.S3 svg .shelf-left {
    fill: var(--shelf-left);
}

.S3 svg .shelf-top {
    fill: var(--shelf-top);
}

.S3 svg .shelf-right {
    fill: var(--shelf-right);
}

.S3 svg .flowerpots-top {
    fill: var(--flowerpots-top);
}

.S3 svg .flowerpots-left {
    fill: var(--flowerpots-left);
}

.S3 svg .flowerpots-right {
    fill: var(--flowerpots-right);
}

.S3 svg .stem-top {
    fill: var(--stem-top);
}

.S3 svg .stem-right {
    fill: var(--stem-right);
}

.S3 svg .stem-left {
    fill: var(--stem-left);
}

.S3 svg .flower-left {
    fill: var(--flower-left) !important;
}

.S3 svg .flower-right {
    fill: var(--flower-right) !important;
}

.S3 svg .flower-top {
    fill: var(--flower-top) !important;
}

.S3 svg path.flower {
    fill: var(--flower-center) !important;
}

.S3 svg .cactus-right {
    fill: var(--cactus-right);
}

.S3 svg .cactus-top {
    fill: var(--cactus-top);
}

.S3 svg .cactus-left {
    fill: var(--cactus-left);
}

.S3 svg .door-body {
    fill: var(--door-body);
}

.S3 svg .door-01-path-01 {
    fill: var(--door-path-01);
}

.S3 svg .door-01-path-02,
.S3 svg .door-01-path-03 {
    fill: var(--door-path-02);
}

.S3 svg .door-01-path-04 {
    fill: var(--door-path-04);
}

.S3 svg .railing-background {
    fill: var(--railing-background);
}

.S3 svg .railing-top {
    fill: var(--railing-top);
}

.S3 svg .railing-right {
    fill: var(--railing-right);
}

.S3 svg .railing-left {
    fill: var(--railing-left);
}