<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>city builder</title>
    <link rel="stylesheet" href="../css/map.css">
    <link rel="stylesheet" href="../css/themes/default/resourses.css">

    <script src="../../domain/utilis/fileManager.js" defer></script>
    <script src="../../models/Resources.js" defer></script>
    <script src="../../models/Map.js" defer></script>
    <script src="../../models/person/Person.js" defer></script>
    <script src="../../models/person/Mayor.js" defer></script>
    <script src="../../models/person/Citizens.js" defer></script>
    <script src="../../models/building/Building.js" defer></script>
    <script src="../../models/building/CommercialBuilding.js" defer></script>
    <script src="../../models/building/IndustryBuilding.js" defer></script>
    <script src="../../models/building/Parks.js" defer></script>
    <script src="../../models/building/ResidentialBuilding.js" defer></script>
    <script src="../../models/building/ServicesBuilding.js" defer></script>
    <script src="../../models/building/UtilityPlants.js" defer></script>
    <script src="../../models/City.js" defer></script>
    <script src="../../domain/main.js" defer></script>
</head>

<body>
    <main>
        <div class="container">
        </div>
    </main>
</body>

</html>